<style>
  .deletebutton {
    border-radius: 8px;
    background-color: #F08080;
    color: white;
    display: none;
  }

  .list-group-item:hover .deletebutton {
    display: inline;
  }
</style>
<h1>Watchlists</h1>
<div class="form-group">
  <select class="btn btn-default btn-lg btn-block" [(ngModel)]="curWatchlist" (ngModelChange)="onchangedropdownselect(curWatchlist)">
    <option *ngFor="let wls of curUserWatchlists" [ngValue]="wls">{{ wls.name }}</option>
  </select>

</div>

<div class="form-group">
  <a class="btn btn-success" (click)="initiatecreate()">Create New Watchlist</a>
  <a class="btn btn-danger" (click)="deletecurrentwatchlist()">Delete Current Watchlist</a>
  <!-- <a class="btn btn-danger" (click)="updatecurrentwatchlist()">Update Current Watchlist</a> -->
</div>

<div *ngIf="created" class="alert alert-success box-msg" role="alert">
  <form class="form-signin" (submit)="createwatchlist()">
    <div class="form-group">
      <label for="Username">Watchlist Name</label>
      <input type="text" class="form-control" placeholder="Enter Watchlist Name" [(ngModel)]="tempwlname" name="tempwlname">
    </div>
    <input class="btn btn-lg btn-primary" type="submit" value="Create">
  </form>
</div>

<div *ngIf="curUserWatchlists?.length > 0" class="row">
  <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="SPY" [(ngModel)]="curSymbol">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" (click)="addstock()">Add</button>
        </span>
      </div>
    </div>
    <div>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let stock of curTickers" (click)="getValuesFromWL(stock)" style="cursor: pointer;">
          {{ stock }}
          <button class="deletebutton" style="float: right;" (click)="removestock(stock)">x</button>
        </li>
      </ul>
    </div>

  </div>
  <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
    <div *ngIf="chart">
      <h3>Daily Chart of {{tickerToChart}}</h3>
      <canvas id="canvas">{{ chart }}</canvas>
    </div>
  </div>
</div>